{% extends 'base.html' %}

{% block title %} Главная страница {% endblock %}

{% block one_content %}<h1>Что мы изучаем?</h1>
<br>Ответ прост: <i>чушь</i>.
<br>Мы изучаем то, как люди отвечают на странные вопросы. 
<br>А если серьёзно?
<br>Основная задача - изучить употребление одной современной разговорной конструкции, а так же отношение к ней.
<br>Если вы хотите принять участие в этом исселдовании, то нажмите кнопку ниже.
<br><a class="btn" href = "/questions">Нажми меня! (увидишь опрос)</a>{% endblock %}
{% block two_content %}<h2>Мы будем очень благодарны, если Вы пройдёте опрос!</h2>
<p><i>Он занимает совсем немного времени.</i></p>{% endblock %}